<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>E-SUMMIT '17</title>

  <meta name="description" content="">
  <meta name="theme-color" content="#2CC7C1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/styles.css">
  <!--<link rel="stylesheet" href="assets/base.css">-->
  <link rel="stylesheet" href="fixed-navigation-bar.css">

</head>
<body>

<!-- <nav class="fixed-nav-bar" style="background: transparent; background-color: transparent  ">
    <div style="background-color: #3B3B3B">
      <ul style="margin-top: 0px; text-align: right; margin-right: 20px;" class="menu-items">
        <li><a style=" color: #ffffff" href="//sixrevisions.com">Home</a></li>
        <li><a style=" color: #ffffff" href="//sixrevisions.com/about/">About</a></li>
        <li><a style=" color: #ffffff" href="//sixrevisions.com/contact/">Contact</a></li>
        <li><a style=" color: #ffffff" href="//twitter.com/sixrevisions">Twitter</a></li>
        <li><a style=" color: #ffffff" href="//www.facebook.com/sixrevisions">Facebook</a></li>
      </ul>
    </div>
</nav> -->


<div class="banner pad-top-45 pad-bottom-45 pad-top-60-m pad-bottom-60-m">
  <div class="container text-center pad-top-20-m pad-bottom-20-m pad-top-55-l pad-bottom-55-l">
    <h1 id="logo" class="logo">

      <img src="img/esummit.png" style="width: 50%"> </img>
    <h2 class="banner-heading" style="word-spacing: 8px">March 18-19 | NITK, Surathkal</h2>
    <p class="fs-4 col-8-m col-6-l no-float center" style="font-weight: 500">
      The E-Cell at NITK was born through the vision of nurturing young minds in their entrepreneurial journey. We intend to do the same by exposing them to successful entrepreneurs in India and we believe that the Entrepreneurship Summit would be an ideal platform for this. The summit will be a 2-day affair aimed at spreading awareness about entrepreneurship and inspiring the leaders of tomorrow. 
    </p>
    <div class="banner-buttons">
      <a class="button button-primary" href="https://goo.gl/forms/VBCKryFDyFbsXRsV2" target="_blank" ><span class="icon icon-right chevron-right">Register</span></a>
      <!--<a class="button"  >Discover</a>-->
    </div>
    <br>
	<a href="https://www.facebook.com/ecellnitk/" id="asda" target="_blank" class="sponsor sponsor-facebook" style="text-align: center; display: inline-block; " ><span class="sr">Follow us on Facebook</span></a>
  </div>
</div>

<div class="content">
  <div class="introduction-block pad-top-10 pad-bottom-60 container" style="text-align: center;">
    <div class="clear pad-top-20 pad-bottom-20" style="width:70%; display: inline-block;" > 
      <div>
        <div class="tabs tabs-primary" >
          <ul class="tabs-list clear">
            <li class="col-6-m block text-center no-padding tab active"><a href="#learning-objective" data-toggle="tab">Vision</a></li>
            <li class="col-6-m block text-center no-padding tab"><a href="#target-audience" data-toggle="tab">Target Audience</a></li>
          </ul>
          <div class="tab-content" style="text-align: left;">
            <div class="tab-pane active" id="learning-objective">
              <div class="clear">
                <div >
                  <ul class="list">
		            <li>To spread awareness about entrepreneurship and its various possibilities.</li>
					<li>To engage young minds in a thought process that will be beneficial for innovation.</li>
					<li>To expose budding entrepreneurs to established professionals and provide a learning experience.</li>
					<li>To provide a platform for anyone with an idea to turn it into a million dollar enterprise.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="target-audience">
              <div class="clear">
                <div >
                  <ul class="list">
		            <li>Young students from various fields of study.</li>
					<li>Entrepreneurs looking to showcase their ideas for validation.</li>
					<li>Professionals who wish to share their entrepreneurial journey.</li>
					<li>Youth with a will to do something big in life.</li>
					<li>Anyone with a curious mind about entrepreneurship.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="speakers-block pad-top-60 pad-bottom-60 container">
    <div class="text-center pad-top-20">
      <h2 class="h2 uppercase">Speakers for E-Talks</h2>
    </div>
    <ul class="event-speakers clear">
      <li class="col-6-m col-3-l">
        <div class="col-12-m no-float">
          <a class="event-speaker" href="https://in.linkedin.com/in/farrhad" target="_blank">
            <img class="block" src="img/farhad2.jpg" alt="Farrhad Acidwalla">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/farrhad" target="_blank">Farrhad Acidwalla</a></h3>
          <p>
            Founder of Rockstah Media | Entrepreneur | Investor | TEDx Speaker
          </p>
        </div>
      </li>
      <li class="col-6-m col-3-l">
        <div class="col-12-m no-float">
          <a class="event-speaker" href="https://in.linkedin.com/in/happionaire" target="_blank">
            <img class="block" src="img/yogesh2.jpg" alt="Yogesh Chabria">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/happionaire" target="_blank" >Yogesh Chabria</a></h3>
          <p>
          #1 Bestselling Author | Founder, The Happionaire® Way | Speaker | Entrepreneur | Leadership and Success Strategist
          </p>
        </div>
      </li>
      <li class="col-6-m col-3-l">
        <div class="col-12-m no-float">
          <a class="event-speaker" href="https://in.linkedin.com/in/sandeshkumard" target="_blank">
            <img class="block" src="img/sandesh2.jpg" alt="Sandesh Kumar">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/sandeshkumard" target="_blank" >Sandesh Kumar</a></h3>
          <p>
	       Co-Founder at Evol Technologies | Startup enthusiast
          </p>
        </div>
      </li>
      <li class="col-6-m col-3-l">
        <div class="col-12-m no-float">
          <a class="event-speaker" href="https://in.linkedin.com/in/mohammed-zeeshan-359bb368" target="_blank">
            <img class="block" src="img/zeeshan2.jpg" alt="Mohammed Zeeshan">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/mohammed-zeeshan-359bb368" target="_blank" >Mohammed Zeeshan</a></h3>
          <p>
            Entrepreneur | Co Founder - Climber Knowledge and Careers Pvt Ltd 
          </p>
        </div>
      </li>
      <li class="col-6-m col-3-l">
        <div class="col-12-m no-float">
          <a class="event-speaker" href="https://in.linkedin.com/in/mynabisineer" target="_blank">
            <img class="block" src="img/myna2.jpg" alt="Myna Bisineer">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/mynabisineer" target="_blank">Myna Bisineer</a></h3>
          <p>
            COO at Venturesity
          </p>
        </div>
      </li>
      <li class="col-6-m col-3-l">
        <div class="col-12-m no-float">
          <a class="event-speaker" href="https://in.linkedin.com/in/abhinandan-sekhri-60580bb5" target="_blank" >
            <img class="block" src="img/abhi2.jpg" alt="Abhinandan Sekhri">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/abhinandan-sekhri-60580bb5" target="_blank" >Abhinandan Sekhri</a></h3>
          <p>
            Co Founder - NewsLaundry
          </p>
        </div>
      </li>
      <li class="col-6-m col-3-l">
        <div class="col-12-m no-float">
          <a class="event-speaker" href="https://in.linkedin.com/in/vaibhav-devanathan-37210232" target="_blank" >
            <img class="block" src="img/vaibhav2.jpg" alt="Vaibhav Devanathan">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/vaibhav-devanathan-37210232" target="_blank" >Vaibhav Devanathan</a></h3>
          <p>
            Founder at LaughGuru
          </p>
        </div>
      </li>
       <li class="col-6-m col-3-l">
        <div class="col-12-m no-float">
          <a class="event-speaker" target="_blank" >
            <img class="block" src="img/reviraj2.jpg">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" target="_blank" >Dr Reviraj N</a></h3>
          <p>
            Senior scientist | Deputy project director
          </p>
        </div>
      </li>
    </ul>
    
  </div>

  <hr class="hr">

  <div class="speakers-block pad-top-60 pad-bottom-60 container">
    <div class="text-center pad-top-20">
      <h2 class="h2 uppercase">Investors for E-Pitch</h2>
    </div>
    <dir>
    	<p style="text-align: center; font-size: 130%">
			A challenging and competitive standoff between some of the best upcoming startups from all over the country, judged by startup gurus and the top investors. Opportunities for funding upto 5 lakh INR!
		</p>
    </dir>
    <ul class="event-speakers clear">
      <li class="col-6-m">
        <div class="col-12-m no-float">
          <a class="event-speaker"  href="https://in.linkedin.com/in/ishank-garg-a5ba55a8" target="_blank">
            <img class="block" src="img/ishank2.jpg" alt="Ishank Garg">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/ishank-garg-a5ba55a8" target="_blank" >Ishank Garg</a></h3>
          <p>
            Manager at Lead Angels
          </p>
        </div>
      </li>
      <li class="col-6-m ">
        <div class="col-12-m no-float">
          <a class="event-speaker" href="https://in.linkedin.com/in/manishhanand" target="_blank"  >
            <img class="block" src="img/manish2.jpg" alt="Manishh Anand">
          </a>
          <h3 class="uppercase fs-4 pad-top-20"><a class="event-speaker-name" href="https://in.linkedin.com/in/manishhanand" target="_blank" >Manishh Anand</a></h3>
          <p>
            Founder at Provenio Capital and Utilis Capital
          </p>
        </div>
      </li>
	  <div class="banner-buttons">
	    <a class="button button-primary" href="https://goo.gl/forms/Ho6SaY0x4kSEBzcx1" target="_blank" ><span class="icon icon-right chevron-right">Register for E-Pitch</span></a>
	    <!--<a class="button"  >Discover</a>-->
	  </div>
    </ul>
   </div>
  </div>

<div class="footer-block">
  <div class="footer pad-top-60 pad-bottom-60">
    <div class="container-full">
      <div class="clear footer-content-blocks">
        <div class="footer-content-block col-6-m col-6-l">
          <div class="col-10-l no-float-l" style="text-align: center;">
            <h3 class="fs-4 h-white">Need Help?</h3>
            <p class="no-margin" style="text-align: left;">
              If you need help with something else, please see our fully searchable <a  >FAQs</a>. If you can't find what you're looking for, you can contact us</a>
            </p>
          </div>
        </div>
        <div class="footer-content-block col-6-m ">
          <div class="col-12-l no-float-l" style="text-align: center;">
            <h3 class="fs-4 h-white">Get In Touch</h3>
            <ul class="contact-list" style="color: #2cc7c1">
              <li>+919663188714 | 9916814481 | 9535130655</li>
              <li>esummitnitk@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>
        Copyright 2015 Eventide
      </p>
    </div>
  </div>
</div>


<script src="js/vendor/jquery-1.11.3.min.js"></script>
<script src="js/vendor/webfontloader.js"></script>

<script src="js/vendor/jquery.mobile.custom.min.js"></script>
<script src="js/vendor/bootstrap.transition.js"></script>
<script src="js/vendor/bootstrap.carousel.js"></script>
<script src="js/vendor/bootstrap.collapse.js"></script>
<script src="js/vendor/bootstrap.dropdown.js"></script>
<script src="js/vendor/bootstrap.tab.js"></script>

<script src="js/vendor/jquery.drawsvg.js"></script>


<script src="js/default.js"></script>


</body>
</html>